<form name="new_category" class="" ng-submit="create_cat()">
	<h2>Create Category</h2>
	<div class="form-group">
		<label for="name" class="sr-only">Name</label>
		<input
			type="text"
			id="name"
			ng-model="category.name"
			name="name"
			placeholder="Name"
			class="form-control" />
	</div>
	<div class="form-group">
		<input type="submit" value="Create Category" class="btn btn-primary btn-block">
	</div>
</form>

<form name="new_subcategory" class="" ng-submit="create_subcat()">
	<h2>Create Sub-Category</h2>
	<div class="form-group">
		<label for="name" class="sr-only">Name</label>
		<input
			type="text"
			id="name"
			ng-model="sub.name"
			name="name"
			placeholder="Name"
			class="form-control" />
	</div>
	<div class="form-group">
		<label for="category" class="sr-only">Category:</label>
		<select
			id="category"
			ng-model="sub.category"
			name="category"
			class="form-control"
		>
		<option ng-repeat="(id,cat) in categories" value="{{id}}">{{cat.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<input type="submit" value="Create Sub-Category" class="btn btn-primary btn-block">
	</div>
</form>
<ul>
	<li ng-repeat="(id,cat) in categories">
		{{cat.name}}
		<ul>
			<li ng-repeat="(id,sub) in subcategories | toArray | filter:{category: id}">{{sub.name}} <a ng-click="delete(id)" class="text-danger">X</a></li>
		</ul>
	</li>
</ul>