<h1>Login</h1>

<form name="login_form" ng-submit="login()">
	<div class="form-group" ng-class="{'has-error':login_form.email_invalid}">
		<div ng-show="user.error">{{user.error}}</div>
		<input
			class="form-control"
			name="email"
			ng-model="user.email"
			placeholder="email"
			type="email"
			required
			ng-blur="login_form.email_invalid = !login_form.email.$valid"
		/>
		<label class="control-label" ng-show="login_form.email.$error.email">Email is not Valid</label>
		<label class="control-label" ng-show="login_form.email.$error.required && login_form.email_invalid ">Email is Required</label>

	</div>
	<div class="form-group" ng-class="{'has-error': login_form.password_invalid}" >
		<input
			class="form-control"
			name="password"
			ng-model="user.password"
			placeholder="password"
			type="password"
			required
			ng-minlength="6"
			ng-blur="login_form.password_invalid = !login_form.password.$valid"
		/>
		<label class="control-label" ng-show="login_form.password.$error.minlength">Password is to short</label>
		<label class="control-label" ng-show="login_form.password.$error.required && login_form.password_invalid ">Password is Required</label>

	</div>
	<div class="form-group">
		<input
			type="submit"
			class="btn btn-primary btn-block"
			ng-disabled="login_form.$invalid"
			value="Login"
		/>
	</div>
</form>

